In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import sys
import os

In [4]:
os.chdir("/Users/subinpark2/Downloads/ST47/")

In [5]:
df1=pd.read_csv("ST_brian.table.csv")
df2=pd.read_csv("dic3.csv",header=None,sep='\t')

In [35]:
df1.head()

,Assembly,ST,allele,allele.1,allele.2,allele.3,allele.4,allele.5,allele.6,?,?.1
0,GCF900048925,1.0,flaA-1,pilE-4,asd-3,mip-1,mompS-1,proA-1,neuA_neuAH-1,NaN,NaN
1,GCF900049255,1.0,flaA-1,pilE-4,asd-3,mip-1,mompS-1,proA-1,neuA_neuAH-1,NaN,NaN
2,GCF900050175,NaN,flaA-1,pilE-4,asd-3,mip-1,mompS-1,proA-1,neuA_neuAH-14,NaN,NaN
3,GCF900050205,1.0,flaA-1,pilE-4,asd-3,mip-1,mompS-1,proA-1,neuA_neuAH-1,NaN,NaN
4,GCF900050235,1.0,flaA-1,pilE-4,asd-3,mip-1,mompS-1,proA-1,neuA_neuAH-1,NaN,NaN

In [31]:
df2=df2.drop("Assembly",axis=1)

In [32]:
df2.columns=['Assembly','subtype']

In [53]:
df2['Assembly']=df2['Assembly'].apply(lambda x: x.replace(".blast.pair",""))

In [36]:
df3=pd.DataFrame(df2['subtype'].value_counts())
df3.reset_index(level=0, inplace=True)
df3.columns=['subtype','count']
df3['subnumber']=df3.index

In [54]:
df4=pd.merge(df2,df3,on='subtype')

In [55]:
df4.head()

,Assembly,subtype,count,subnumber
0,GCF900051665,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...",2,25
1,GCF900063035,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...",2,25
2,GCF900054665,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4
3,GCF900059595,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4
4,GCF900052325,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4

In [119]:
df4['lpg0028'] = np.where(df4['subtype'].str.find('lpg0028'),df4['subtype'], 'Nan')
df4.head()

,Assembly,subtype,count,subnumber,lpg0577,lpg0028
0,GCF900051665,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...",2,25,yes,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22..."
1,GCF900063035,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...",2,25,yes,"['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22..."
2,GCF900054665,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4,yes,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2..."
3,GCF900059595,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4,yes,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2..."
4,GCF900052325,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...",11,4,yes,"['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2..."

In [158]:
df4['subtype'].str.contains('lpg0028')

SyntaxError: invalid syntax (<ipython-input-158-e84267da3b96>, line 1)

0      ['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...
1      ['lpg0577_1', 'lpg1830_1', 'lpg1566_1', 'lpg22...
2      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
3      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
4      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
5      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
6      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
7      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
8      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
9      ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
10     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
11     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
12     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
13     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
14     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
15     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
16     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
17     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
18     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
19     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
20     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
21     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
22     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
23     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
24     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
25     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
26     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
27     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
28     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
29     ['lpg0577_2', 'lpg1830_12', 'lpg1566_2', 'lpg2...
                             ...
308    ['lpg0577_11', 'lpg1830_11', 'lpg1566_11', 'lp...
309    ['lpg0577_11', 'lpg1830_11', 'lpg1566_10', 'lp...
310    ['lpg0577_11', 'lpg1830_11', 'lpg1566_10', 'lp...
311    ['lpg0577_11', 'lpg1830_11', 'lpg1566_10', 'lp...
312    ['lpg0577_11', 'lpg1830_11', 'lpg1566_10', 'lp...
313    ['lpg0577_11', 'lpg1830_11', 'lpg1566_10', 'lp...
314    ['lpg0577_12', 'lpg1830_11', 'lpg1566_10', 'lp...
315    ['lpg0577_12', 'lpg1830_11', 'lpg1566_10', 'lp...
316    ['lpg0577_12', 'lpg1830_11', 'lpg1566_10', 'lp...
317    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
318    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
319    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
320    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
321    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
322    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
323    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
324    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
325    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
326    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
327    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
328    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
329    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
330    ['lpg0577_13', 'lpg1830_4', 'lpg1566_3', 'lpg2...
331    ['lpg0577_13', 'lpg1830_2', 'lpg1566_3', 'lpg2...
332    ['lpg0577_14', 'lpg1830_8', 'lpg1566_3', 'lpg2...
333    ['lpg0577_15', 'lpg1830_12', 'lpg1566_2', 'lpg...
334    ['lpg0577_15', 'lpg1830_12', 'lpg1566_2', 'lpg...
335    ['lpg0577_15', 'lpg1830_12', 'lpg1566_2', 'lpg...
336    ['lpg0577_16', 'lpg1830_13', 'lpg1566_2', 'lpg...
337    ['lpg0577_16', 'lpg1830_13', 'lpg1566_2', 'lpg...
Name: subtype, Length: 338, dtype: object

In [57]:
df5=pd.merge(df1,df4,on='Assembly')

In [60]:
df6=df5['subtype'].str.split(',', expand=True)

In [61]:
df6.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,['lpg0577_3','lpg1830_4','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_18']
1,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']
2,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_14','lpg0287_10','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_3','lpg0785_14','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_12','lpg2039_12','lpg1994_17']
3,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_17']
4,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']

In [62]:
df6=df5['subtype'].str.split(',', expand=True).rename(columns = lambda x: "allele"+str(x+1))
df6 = df6.rename(columns={col: col.split('_')[0] for col in df6.columns})

In [63]:
df6.head()

,allele1,allele2,allele3,allele4,allele5,allele6,allele7,allele8,allele9,allele10,...,allele41,allele42,allele43,allele44,allele45,allele46,allele47,allele48,allele49,allele50
0,['lpg0577_3','lpg1830_4','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_18']
1,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']
2,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_14','lpg0287_10','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_3','lpg0785_14','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_12','lpg2039_12','lpg1994_17']
3,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_17']
4,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']

In [98]:
nick=pd.read_csv("new_50gene.list",header=None,index_col=0)
#nick.columns=['corename']
nick.head()

Empty DataFrame
Columns: []
Index: [lpg0028, lpg0078, lpg0116, lpg0212, lpg0287]

In [100]:
df6.columns=nick.index
df6.head()

,lpg0028,lpg0078,lpg0116,lpg0212,lpg0287,lpg0330,lpg0356,lpg0432,lpg0461,lpg0513,...,lpg2516,lpg2577,lpg2622,lpg2698,lpg2743,lpg2795,lpg2827,lpg2869,lpg2933,lpg2999
0,['lpg0577_3','lpg1830_4','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_18']
1,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']
2,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_14','lpg0287_10','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_3','lpg0785_14','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_12','lpg2039_12','lpg1994_17']
3,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_6',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_8','lpg1178_15','lpg2039_12','lpg1994_17']
4,['lpg0577_3','lpg1830_15','lpg1566_8','lpg2231_9','lpg2339_4','lpg2516_13','lpg0287_11','lpg1398_11','lpg0461_15','lpg1206_5',...,'lpg0116_2','lpg0785_10','lpg0330_4','lpg1340_4','lpg0078_12','lpg1452_9','lpg0712_5','lpg1178_15','lpg2039_12','lpg1994_17']

In [80]:
test=df5[['Assembly','subtype']]
df7=pd.merge(test,df6,on=test.index)
df7=df7.drop('subtype',axis=1)
df7=df7.drop(['key_0'],axis=1)

In [105]:
df7.columns[1:]=str(nick.index)

TypeError: Index does not support mutable operations

In [84]:
dic3=df7.set_index('Assembly').T.to_dict('list')
#sys.stdout=open('test_database4.csv','a')
for line in open("new_50gene.list"):
    line=line.rstrip()
    sys.stdout.write("\t"+line)
sys.stdout.write('\n')
for line in open('new_50gene.list'):
    line=line.rstrip()
    for key1 in dic3:
        sys.stdout.write(key1+"\t")
        for value in dic3[key1]:
            if str(line) in str(value):
                number=value.split("_")[1]
                sys.stdout.write(number+"\t")
            else:
               sys.stdout.write('Nan'+"\t")
        sys.stdout.write('\n')

In [87]:
dic3=df7.set_index('Assembly').T.to_dict('list')
#sys.stdout=open('test_database4.csv','a')
for line in open("new_50gene.list"):
    line=line.rstrip()
    print("\t"+line)